
  body{
    display: flex;
    font-family: 'inter', sans-serif;
    justify-content: center;
    
  }

/*navbar*/
.nav{
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
   margin-bottom: 4rem;
   background-color: black;
   color: rgb(41, 190, 228);
}

.logo{
  margin: 1rem;
    width: 40px;
    height: 40px;
}


.nav-items{
    list-style: none;
    display: flex;
    gap: 2rem;

}

li::marker{
  color: rgb(75, 197, 235);
}

/*Page*/

.page{
  background-color: rgb(68, 68, 68);
  background-image: url('Group.png');
  background-repeat: no-repeat;
 background-position-x: right;
 background-position-y: 75%;
  color: white;
}


.content{
  margin: 2rem;
  
  
}


/*footer*/
.footer{
    margin-top: 3rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 2rem;
}


